@import "tailwindcss";

@theme {
  --breakpoint-xs: 35rem;
  --breakpoint-xxs: 30rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f7f7f7;
  color: #171717;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", Helvetica, sans-serif;
  overflow: auto;
}